@model MyJournal.Models.CustomModels.DailyInformtion

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DailyInformtion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DailyInformtionID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalText" class="control-label"></label>
                <input asp-for="JournalText" class="form-control" />
                <span asp-validation-for="JournalText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyInformtionDateTime" class="control-label"></label>
                <input asp-for="DailyInformtionDateTime" class="form-control" />
                <span asp-validation-for="DailyInformtionDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyInformtionUser" class="control-label"></label>
                <input asp-for="DailyInformtionUser" class="form-control" />
                <span asp-validation-for="DailyInformtionUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserMood" class="control-label"></label>
                <input asp-for="UserMood" class="form-control" />
                <span asp-validation-for="UserMood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
