@model MyJournal.Models.CustomModels.DailyInformation

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DailyInformtion</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* Creation of the options is done in the CustomTemplates.js *@
                <select id="template" hidden>
                    <option value="Blank">Blank</option>
                </select>
                <br />
                <label asp-for="JournalText" class="control-label"></label>
                <textarea rows="20" asp-for="JournalText" class="form-control"></textarea>
                <span asp-validation-for="JournalText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserMood" class="control-label"></label>
                <input asp-for="UserMood" class="form-control" />
                <span asp-validation-for="UserMood" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinWorkedOut" class="control-label"></label>
                <input asp-for="MinWorkedOut" class="form-control" />
                <span asp-validation-for="MinWorkedOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursSlept" class="control-label"></label>
                <input asp-for="HoursSlept" class="form-control" />
                <span asp-validation-for="HoursSlept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/CustomTemplates.js"></script>
}
