@model MyJournal.Models.CustomModels.DailyInformation

@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h2 class="font-weight-light">Create a New Journal Entry</h2>

            <hr />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="cc-selector">
                <label asp-for="UserMood" class="control-label"></label><br />
                <input asp-for="UserMood" id="c1" type="radio" value="1">
                <label class="face-cc mood1" for="c1"></label>
                <input asp-for="UserMood" id="c2" type="radio" value="2">
                <label class="face-cc mood2" for="c2"></label>
                <input asp-for="UserMood" id="c3" type="radio" value="3">
                <label class="face-cc mood3" for="c3"></label>
                <input asp-for="UserMood" id="c4" type="radio" value="4">
                <label class="face-cc mood4" for="c4"></label>
                <input asp-for="UserMood" id="c5" type="radio" value="5">
                <label class="face-cc mood5" for="c5"></label>
                <span asp-validation-for="UserMood" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DownTime" class="control-label"></label>
                <input asp-for="DownTime" class="form-control" type="time" value="21:00" />
                <span asp-validation-for="DownTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpTime" class="control-label"></label>
                <input asp-for="UpTime" class="form-control" type="time" value="07:00" />
                <span asp-validation-for="UpTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinExercising" class="control-label"></label>
                <br />
                <button type="button" onclick="ChangeWorkoutMin(30)" class="btn btn-outline-info mb-2">30 Min</button>
                <button type="button" onclick="ChangeWorkoutMin(45)" class="btn btn-outline-info mb-2">45 Min</button>
                <button type="button" onclick="ChangeWorkoutMin(60)" class="btn btn-outline-info mb-2">60 Min</button>
                <button type="button" onclick="ChangeWorkoutMin(90)" class="btn btn-outline-info mb-2">90 Min</button>
                <input asp-for="MinExercising" class="form-control" value="0" />
                <span asp-validation-for="MinExercising" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinPhone" class="control-label"></label>
                <input asp-for="MinPhone" class="form-control" value="0" />
                <span asp-validation-for="MinPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinHobby" class="control-label"></label>
                <input asp-for="MinHobby" class="form-control" value="0" />
                <span asp-validation-for="MinHobby" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumGoodThings" class="control-label"></label>
                <input asp-for="NumGoodThings" class="form-control" value="0" />
                <span asp-validation-for="NumGoodThings" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumPoorThings" class="control-label"></label>
                <input asp-for="NumPoorThings" class="form-control" value="0" />
                <span asp-validation-for="NumPoorThings" class="text-danger"></span>
            </div>

            <div class="cc-selector">
                <label asp-for="OverallDay" class="control-label"></label><br />
                <input asp-for="OverallDay" id="c1" type="radio" value="1">
                <label class="face-cc mood1" for="c1"></label>
                <input asp-for="OverallDay" id="c2" type="radio" value="2">
                <label class="face-cc mood2" for="c2"></label>
                <input asp-for="OverallDay" id="c3" type="radio" value="3">
                <label class="face-cc mood3" for="c3"></label>
                <input asp-for="OverallDay" id="c4" type="radio" value="4">
                <label class="face-cc mood4" for="c4"></label>
                <input asp-for="OverallDay" id="c5" type="radio" value="5">
                <label class="face-cc mood5" for="c5"></label>
                <span asp-validation-for="OverallDay" class="text-danger"></span>
            </div>


            <div class="cc-selector">
                <label asp-for="ExcitedForTomorrow" class="control-label"></label><br />
                <input asp-for="ExcitedForTomorrow" id="c1" type="radio" value="1">
                <label class="face-cc mood1" for="c1"></label>
                <input asp-for="ExcitedForTomorrow" id="c2" type="radio" value="2">
                <label class="face-cc mood2" for="c2"></label>
                <input asp-for="ExcitedForTomorrow" id="c3" type="radio" value="3">
                <label class="face-cc mood3" for="c3"></label>
                <input asp-for="ExcitedForTomorrow" id="c4" type="radio" value="4">
                <label class="face-cc mood4" for="c4"></label>
                <input asp-for="ExcitedForTomorrow" id="c5" type="radio" value="5">
                <label class="face-cc mood5" for="c5"></label>
                <span asp-validation-for="ExcitedForTomorrow" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <label class="font-weight-light">Custom Templates</label>
                <br />
                <a class="btn btn-info" asp-area="" asp-controller="CustomTemplates" asp-action="Index">
                    Manage Custom Templates
                </a>
                <a class="btn btn-info" asp-area="" asp-controller="CustomTemplates" asp-action="Create">
                    Create Custom Template
                </a>
                @* Creation of the options is done in the CustomTemplates.js *@
                <select id="template" hidden multiple class="form-control mt-3">
                    <option value="Blank">Blank</option>
                </select>
                <br />
                <label asp-for="JournalText" class="control-label font-weight-light"></label>
                <textarea rows="20" asp-for="JournalText" class="form-control"></textarea>
                <span asp-validation-for="JournalText" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let customTemplates = @Html.Raw(ViewData["CustomTemplates"]);
        for (let i = 0; i < customTemplates.length; i++) {
            let temp = {
                text: customTemplates[i].Template,
                name: customTemplates[i].Name
            }
            templates.push(temp);
        }

        function ChangeWorkoutMin(min) {
            $("#MinExercising").val(min);
        }

    </script>
}
