@model MyJournal.Models.CustomModels.DailyInformation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DailyInformation</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="DailyInformationID" />
            <input type="hidden" asp-for="User" />
            <input type="hidden" asp-for="DailyInformationDateTime" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="UserMood" class="control-label"></label>
            <input asp-for="UserMood" class="form-control" type="range" min="1" max="5" step="1">
            <span asp-validation-for="UserMood" class="text-danger"></span>
        </div>*@


            <style>
                .cc-selector input {
                    margin: 0;
                    padding: 0;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                }

                .cat {
                    background-image: url(https://placekitten.com/400/300);
                }

                .drinkcard-cc {
                    cursor: pointer;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    width: 100px;
                    height: 70px;
                    -webkit-transition: all 100ms ease-in;
                    -moz-transition: all 100ms ease-in;
                    transition: all 100ms ease-in;
                    -webkit-filter: brightness(1.8) grayscale(1);
                    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
                    filter: brightness(1.8) grayscale(1) opacity(.7);
                }

                    .drinkcard-cc:hover {
                        -webkit-filter: brightness(1.2) grayscale(.5);
                        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
                        filter: brightness(1.2) grayscale(.5) opacity(.9);
                    }

                .cc-selector input:active + .drinkcard-cc {
                    opacity: .9;
                }

                .cc-selector input:checked + .drinkcard-cc {
                    -webkit-filter: none;
                    -moz-filter: none;
                    filter: none;
                }
            </style>

            <div class="cc-selector">
                <label asp-for="UserMood" class="control-label"></label><br />
                <input asp-for="UserMood" id="c1" type="radio" value="1">
                <label class="drinkcard-cc cat" for="c1"></label>
                <input asp-for="UserMood" id="c2" type="radio" value="2">
                <label class="drinkcard-cc cat" for="c2"></label>
                <input asp-for="UserMood" id="c3" type="radio" value="3">
                <label class="drinkcard-cc cat" for="c3"></label>
                <input asp-for="UserMood" id="c4" type="radio" value="4">
                <label class="drinkcard-cc cat" for="c4"></label>
                <input asp-for="UserMood" id="c5" type="radio" value="5">
                <label class="drinkcard-cc cat" for="c5"></label>
                <span asp-validation-for="UserMood" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DownTime" class="control-label"></label>
                <input asp-for="DownTime" class="form-control" type="time" />
                <span asp-validation-for="DownTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpTime" class="control-label"></label>
                <input asp-for="UpTime" class="form-control" type="time" />
                <span asp-validation-for="UpTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinExercising" class="control-label"></label>
                <input asp-for="MinExercising" class="form-control" />
                <span asp-validation-for="MinExercising" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinPhone" class="control-label"></label>
                <input asp-for="MinPhone" class="form-control" />
                <span asp-validation-for="MinPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MinHobby" class="control-label"></label>
                <input asp-for="MinHobby" class="form-control" />
                <span asp-validation-for="MinHobby" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumGoodThings" class="control-label"></label>
                <input asp-for="NumGoodThings" class="form-control" />
                <span asp-validation-for="NumGoodThings" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumPoorThings" class="control-label"></label>
                <input asp-for="NumPoorThings" class="form-control" />
                <span asp-validation-for="NumPoorThings" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OverallDay" class="control-label"></label>
                <input asp-for="OverallDay" class="form-control" type="range" min="1" max="5" step="1" />
                <span asp-validation-for="OverallDay" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExcitedForTomorrow" class="control-label"></label>
                <input asp-for="ExcitedForTomorrow" class="form-control" type="range" min="1" max="5" step="1" />
                <span asp-validation-for="ExcitedForTomorrow" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="JournalText" class="control-label"></label>
                <input asp-for="JournalText" class="form-control" />
                <span asp-validation-for="JournalText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
