@{
    ViewData["Title"] = "About";
    ViewBag.AboutActive = "active";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>MyJournal is a capstone project created by Gavin Steinhoff, Steven Thornwall, Vivian Liu, and Derek Wright in the Spring of 2019. This website is designed to allow users to journal their daily lives and answer various questions. These responses are recorded and packaged into convenient reports to allow a user to track their statistics on a weekly, monthly, half-yearly, and yearly basis. Also, we use IBM's Watson to analyze a users journal text and determine their overall mood for the day.</p>
