@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    301 Gavin St.<br />
    Topeka, KS 66618<br />
    <abbr title="Phone">P:</abbr>
    785-220-1307
</address>

<address>
    <strong>Support:</strong> <a href="mailto:gavinsteinhoff@gmail.com">gavinsteinhoff@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:gavinsteinhoff@gmail.com">gavinsteinhoff@gmail.com</a>
</address>
