@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-4">My Journal</h1>
            <p class="lead">My Journal is a daily journaling tool along with a lifestyle tracker</p>
            <hr class="my-4">
            <p>Create your free account to start working on keeping track of your life</p>
            <a class="btn btn-info" asp-area="" asp-controller="Account" asp-action="Register">Register Now</a>
            <a class="btn btn-info" asp-area="" asp-controller="Account" asp-action="Login">Or Login</a>

        </div>
    </div>
    <div class="col-1"></div>
</div>