body,html {
    height: 100%;
}

.sideMenuLink a {
    text-decoration: none;
    color: white;
}
.sideMenuLink a:hover {
    color: grey;
}

.stat-holder {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0;
    float: left;
    margin: 0 3em;
    font-size: 9pt;
}
.stat {
    border: 1px solid black;
    line-height: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    background: #38a9e4;
    color: white;
    font-size: 48px;
    text-align: center;
    cursor: pointer;
}

.stats {
    height: 100px;
}